# Data files
data/raw/
data/processed/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.env
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db